MACRO_FAST(mc_pin_code, &kp N2 &kp N5 &kp N4 &kp N9 &kp N1 &kp N3 &kp N5 &kp N9)
MACRO_FAST(mc_email, &kp S &kp P &kp A &kp N &kp W &kp I &kp T &kp E &kp AT_SIGN &kp Y &kp A X_DOT &kp R &kp U)

COMBO_FAST(pin_code, LM3 LM2 LM1, &mc_pin_code, LAYERS_TOGGLE)
